
	<div class="row">
	    <div >
	    	<button type="submit" ng-click="viewAllTickers()" class="btn btn-primary view-stock-all-ticker-btn">All Tickers</button>
	    	<button type="submit" ng-click="ViewWishListTickers()" class="btn btn-primary view-stock-wisth-list-ticker-btn">Wish List Tickers</button>
	    	<!-- <h4 class="show-timer">Time (Second) : {{currentTime}} </h4> -->
	    </div>
    </div>
	
	<!-- Here visible All Stock Ticker Table -->
	<div ng-if="isVisibleTable">		
		
		<div ng-if="isVisibleAll">
			
			<h3 >All Stock Tickers</h3>
			<table class="table">
				<tr>
					<td>Symbol</td>
					<td>Old Price</td>
					<td>Price</td>
				 	<td>Changes</td>						
					<td>%</td>							
					<td></td>
					<td></td>
				</tr>
				<tbody>
					<tr ng-repeat="ticker in stockTikcerArray">						
						<td>{{ticker.symbol}}</td>
						<td>{{ticker.oldPrice}}</td>
						<td>{{ticker.price}}</td>
						<td>{{ticker.different}} {{ticker.upDown}}</td>
						<td>{{ticker.percentage}} % </td>
						<td>
							<button class="btn btn-primary" ng-click="viewTicker(ticker)">View</button>
						</td>
						<td ng-if="!(ticker.isAddWishList)">
							<button class="btn btn-primary" ng-click="addToWishList(ticker)">
								Add To Wish List
							</button>
						</td>
						<td ng-if="ticker.isAddWishList" >
							<button class="btn btn-primary" ng-click="removeTickerFromWishList(ticker)">
								Remove From Wish List
							</button>
						</td>
					</div>	
					</tr>			
				</tbody>
			</table>
			<div ng-if="stockTikcerArray.length == 0">
				<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
			</div>
		</div>
		

		<div ng-if="isVisibleWishList"></h3>
			<h3 >Wish List Tickers</h3>
			<table class="table">
				<tr>
					<td>Symbol</td>
					<td>Old Price</td>
					<td>Price</td>
				 	<td>Changes</td>						
					<td>%</td>							
					<td></td>
					<td></td>
				</tr>
				<tbody>
						<div>
							<tr ng-repeat="ticker in tempWishListArry">	
								<td>{{ticker.symbol}}</td>
								<td>{{ticker.oldPrice}}</td>
								<td>{{ticker.price}}</td>
								<td>{{ticker.different}} {{ticker.upDown}}</td>
								<td>{{ticker.percentage}} % </td>
								<td>
									<button class="btn btn-primary" ng-click="viewTicker(ticker)">View</button>
								</td>
								<td>
									<button class="btn btn-primary" ng-click="removeTikcerInWishList(ticker)">
										Remove From Wish List
									</button>
								</td>
							</tr>			
						</div>
				</tbody>
			</table>			
		</div>
	</div>

	<div ng-if="!(isVisibleTable)">	
		<br>	
		<div class="col-md-2">
			<div class="view-tikcer-info">
				<br>
				<h2>{{selectTicker.symbol}}</h2>				
				<h3>{{selectTicker.price}}</h3>
				<p>{{selectTicker.upDown}}</p>
				<p>{{selectTicker.percentage}} %</p>
			</div>

		</div>
		<div class="col-md-10">
			<h3>View {{selectTicker.symbol}} information</h3>
			<table class="table">
			<tr>		
				<td>Old Price</td>		
				<td>Price</td>
			 	<td>Changes</td>						
				<td>%</td>							
			</tr>
			<tbody>
				<tr ng-repeat="ticker in seletedTikcerArray">					
					<td>{{ticker.oldPrice}}</td>
					<td>{{ticker.price}}</td>
					<td>{{ticker.upDown}}</td>
					<td>{{ticker.percentage}} % </td>					
				</tr>			
			</tbody>
		</table>
			<div ng-if="seletedTikcerArray.length == 0">
				<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
			</div>
		</div>
		
	</div>