<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <header><h2>Angular-Node Stock Ticker View Site</h2></header>

            <content>
            <center>
				<table style="text-align:center">
					<tr>
						<td>Symbol</td>
						<td>Price</td>
						<td>Changes</td>
						<td>%</td>						
					</tr>
					<tbody>
						<tr ng-repeat="ticker in stockTikcerArray">
							<td>{{ticker.symbol}}</td>
							<td>{{ticker.price}}</td>
							<td>{{ticker.price - 5}}</td>
							<td>{{ticker.price * (1/50)}} % </td>
						</tr>						
					</tbody>
				</table>
			</center>
            </content>
            <br>
            <h4>Time (Second) : {{currentTime}} </h4>
            <br>
            *Every 2 second update 5 time and wait 10 second & loop back
            <br>
            <footer>{{message}}</footer>
        </div>
    </div>
</div>
